{% extends "base.html" %}
{% block content %}
      <div>
        <span>Simple API by <a href="https://scraperwiki.com">ScraperWiki</a></span>
        <span class="span6 pull-right" style="text-align:right"><a href="{{ root_url }}">Return to index page</a></span>
      </div>
      <h1>{{title}}</h1>
      <h3>Total number of results from this query: {{ count }}</h3>
      <h4>Query parameters:</h4>
      <p><strong>Filter:</strong> {{ filter }}, <strong>Date filter:</strong> {{ datefilter }}, <strong>uris.0:</strong> {{ uris[0] }}, <strong>uris.1:</strong> {{ uris[1] }}</p> 
      {% macro render_pagination(pagination) %}
        <div class=pagination>
        {% if pagination.has_prev %}
        <a href="{{ url_for_other_page(pagination.page - 1)
          }}">&laquo;Previous</a>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
            {% else %}
              <strong>{{ page }}</strong>
            {% endif %}
          {% else %}
            <span class=ellipsis>…</span>
          {% endif %}
        {%- endfor %}
        
        {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1)
          }}">Next &raquo;</a>
        {% endif %}
        </div>
      {% endmacro %}

      {{ render_pagination(pagination) }}

      <table class="table table-striped table-condensed">
            <tr>
              {% for header in headers %}
              <th class="col-sm-1">{{header}}</th>
              {% endfor %}
            </tr>
            {% for result in results %}
            <tr>
              {% for header in headers %}
                {% if result[header] != None and result[header].startswith('http://dbpedia.org/ontology') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://dbpedia.org/ontology/', 'dbo:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://dbpedia.org/resource') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://dbpedia.org/resource/', 'dbpedia:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://purl.org/dc/terms') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://purl.org/dc/terms/', 'dct:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://www.newsreader-project.eu/domain-ontology') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://www.newsreader-project.eu/domain-ontology#', 'eso:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://www.newsreader-project.eu/framenet') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://www.newsreader-project.eu/framenet', 'framenet:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://groundedannotationframework.org/gaf#') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://groundedannotationframework.org/gaf#', 'gaf:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://www.w3.org/1999/02/22-rdf-syntax-ns#') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://www.w3.org/1999/02/22-rdf-syntax-ns#', 'rdf:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://www.w3.org/2000/01/rdf-schema#') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://www.w3.org/2000/01/rdf-schema#', 'sem:') }}</td>
                {% elif result[header] != None and result[header].startswith('http://semanticweb.cs.vu.nl/2009/11/sem/') %}
              <td><a href="{{ result[header] }}">{{ result[header].replace('http://semanticweb.cs.vu.nl/2009/11/sem/', 'sem:') }}</td>
                {% elif result[header] != None and result[header].startswith('http') %}
              <td><a href="{{ result[header] }}">{{ result[header] }}</td>
                {% else %}
              <td>{{result[header]}}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}         
      </table>

      {% macro render_pagination(pagination) %}
        <div class=pagination>
        {% if pagination.has_prev %}
        <a href="{{ url_for_other_page(pagination.page - 1)
          }}">&laquo;Previous</a>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
            {% else %}
              <strong>{{ page }}</strong>
            {% endif %}
          {% else %}
            <span class=ellipsis>…</span>
          {% endif %}
        {%- endfor %}
        
        {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1)
          }}">Next &raquo;</a>
        {% endif %}
        </div>
      {% endmacro %}

      {{ render_pagination(pagination) }}
      <h4>SPARQL QUERY:</h4>
      <p><strong>Query time:</strong> {{query_time}} seconds</p>
      <p><strong>Query time:</strong> {{count_time}} seconds</p>
      <pre>{{query}}</pre>
      </div>
{% endblock %}
